<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="actions">
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
</div>

<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>

<p>
  <b>Description:</b>
  <%= @subject.description %>
</p>
